<!DOCTYPE html>
<html>

	<head>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0">
		<title>
			Crypto cene
		</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="/css/style.css">
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com">
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
			rel="stylesheet">
	</head>
	<body>
		<section
			class="header">
			<nav>
				<a
					href="index.php">
					<img
						src="/images/logo.png">
				</a>
				<div
					class="nav-links">
					<ul>
						<li>
							<a
								href="index.php">
								HOME
							</a>
						</li>
						<li>
							<a
								href="show_list.php">
								LIST
							</a>
						</li>
						<li>
							<a
								href="show_favourites.php">
								FAVOURITES
							</a>
						</li>

						{% if not (session.useruid|default()) %}

							<li>
								<a
									href="login_user.php">
									LOG IN HERE&nbsp
									{{ session.useruid }}
								</a>
							</li>

						{% endif %}
						{% if session.useruid|default() %}

							<li>
								<a
									href="">
									YOU ARE LOGGED IN AS&nbsp
									{{ session.useruid }}
								</a>
							</li>

						{% endif %}

						{% if session.useruid|default() %}

							<li>
								<a
									href="includes/logout.inc.php">
									LOGOUT&nbsp
									{{ session.useruid }}
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</nav</section>


			<div
				class="text-box">
				<h1>
					Most accurate crypto prices
				</h1>

				{% block CONTENT %}
				{% endblock %}

				<div
					class="footer">
					<footer>
						<p>
							&copy Crypto cene 2022
						</p>
					</footer>
				</div>
			</div>
		</html>
	</body>
</html>
