

<html lang="en"></html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>	Crypto cene</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>

{% include '/twig/components/navbar.html.twig' %}

<div class="text-box">
{% block FAVOURITES %}

<h1>Most accurate crypto prices</h1>
<p>
	Select a currency pair to see the current price.
</p>
{#<p>Login and add cryptocurrenices to your Favourites</p>
<a href="">LOGIN</a> #}


{% block LIST %}{% endblock %}
{% block PRICE %}{% endblock %}

{% endblock %}
{% block FOOTER %}
<div class="footer">
<footer>
	<p>
		&copy; Crypto cene 2020
	</p>
</footer>
</div>
{% endblock %}


</section></body></html>
