
<html>
<html lang="en"></html>

{% include '/twig/components/head.html.twig' %}
{% include '/twig/components/navbar.html.twig' %}

<div class="text-box">
{% block FAVOURITES %}

<h1>Most accurate crypto prices</h1>
<p>	Select a currency pair to see the current price.</p>

{% include '/twig/components/action.star.html.twig' %}
{% block LIST %}{% endblock %}
{% block PRICE %}{% endblock %}
{% endblock %}
{% block FOOTER %}

<div class="footer">
<footer>
	<p>
		&copy; Crypto cene 2022
	</p>
</footer>
</div>
{% endblock %}
</div>


</body>
</html>
