work in progress
<?php
function php_func()
{
echo " Have a great day";
}
php_func();
?>
<script>
function test(){
$.ajax({url:"echo.php", success:function(result){
$("div").text(result);}
})
} 
</script>
<button onclick="test()"> Click </button>
<div> </div>