work in progress

{% for currency in ListOfCurrencies %}
<form action="" method="post">
  <button name="addToFav" value={{currency}}>{{currency}} </button>

{% endfor %}
<button onclick="myFunction()">"</button>
