	<body>
		<section class="header">
			<nav>
				<a href="base.php"><img src="images/logo.png" ></a>
				<div class ="nav-links"> 
                 <ul> 
					<li><a href="base.php">HOME</a></li>
					<li><a href="">HELP</a></li>
					<li><a href="">LIST</a></li>
					<li><a href="show_favourites.php">FAVOURITES</a></li>
					<li><a href="">PRICE</a></li>
				</ul>
			</div>
			</nav>
		</section>
	</body>
