
{% extends "layouts/base.html.twig" %}

{% block CONTENT %}
<div class=favourites>
  <h1>Your favourite currencies are:</h1>
{% for key in printFavourites %}

  * {{key}}
  
{% endfor %}
</div>
{% endblock %}
