{% extends "layouts/base.html.twig" %}

{% block CONTENT %}


	<h1>
		You don't have any favourite currencies yet.
	</h1>
	<p>Head on over to List, and select the currencies you would like to add to Favourites</p>

	<h2>


	{% endblock %}
