

<html lang="en"></html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			Crypto cene</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>
	<body>
		<section class="header">
			<nav>
				<a href="base.php"><img src="images/logo.png" ></a><div class ="nav-links"> 
                 <ul> 
					<li> <a href="base.php">HOME</a></li>
					<li><a href="">HELP</a></li>
					<li><a href="">LIST</a></li>
					<li><a href="">FAVOURITES</a></li>
					<li><a href="">PRICE</a></li>
				</ul>
			</div>
		</body>
	</body>
</html></nav><dive class="text-box">
<h1>Most accurate crypto prices</h1>
<p>
	Select a currency pair to see the current price.
</p>
{#<p>Login and add cryptocurrenices to your Favourites</p>
<a href="">LOGIN</a> #}




{#{{ include('favourites.html.twig') }}#}
{{ include('list.html.twig') }} <!-- include list.html.twig -->
<!-- include price.html.twig -->

<div class="container">
	<div class="box">
		<div class="content">
			{% block PRICE %}{% endblock %}
		</div>
	</div>
</div>

{% block FOOTER %}
<div class="footer">

<footer>
	<p>
		&copy; Crypto cene 2020
	</p>
</footer>
</div>

{% endblock %}


</section></body></html>
