<!DOCTYPE html>
<html>
	<body>

		<h1>List of currencies</h1>

		<p>The following table lists the currencies that are supported by the API.</p>


		<form action="/action_page.php">
			<label for="cars">Choose a car:</label>
			<select class="form-control" id="supervisor">
				{% for supervisor in supervisor %}
					<option value="{{supervisor.fname}} {{supervisor.lname}}">{{supervisor.fname}}
						{{supervisor.lname}}</option>
				{% endfor %}
			</select>
			<br><br>
			<input type="submit" value="Submit">
		</form>

		<p>Click the "Submit" button and the form-data will be sent to a page on the 
			server called "action_page.php".</p>

	</body>
</html>
