

<html>
<head>


<link rel="stylesheet" type="text/css" href="style.css">

 <meta charset="UTF-8">
  <meta name="description" content="Criptocurrency price API">
  <meta name="keywords" content="PHP, Twig, Composer, CSS, HTML, crypto, Currencies, Api">
  <meta name="author" content="Yo Mama">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="listOfSupportedCurrencies">
<h1>List of all supported currencies</h1> <br>

{% for currency in ListOfCurrencies %}
<ul>
  <li>{{loop.index}}  .   {{currency}}</li>

</ul>  
{% endfor %}
</div>


{% block Favourites %} {% endblock %}

</body>
</html>

