
	
<form action="/action_page.php">
	<label>Browse all supported currencies:</label>
		<select class="listOfAllCurrencies"></h2><br>
			{% for currency in ListOfCurrencies %}
				<option value="{{currency}}">{{currency}}</option>
			{% endfor %}
		</select>
</form>
