/** 
  *style for the whole page 
  */


body {background-color: rgb(213, 199, 68);  }
h1   {
  color: rgb(43, 85, 225);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
      } 
li    {
  color: rgba(233, 15, 15, 0.911);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
      }
/**
  * The following styles are for the table that displays the supported currencies.
  */
.listOfSupportedCurrencies {
  margin: auto;
  width: 600px ;
  border: 30px solid #df54a8;
  padding: 10px; 
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}





